.About-header {
  text-align: center;
}

.About-content {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.SMLink-Content1 {
  padding-top: px;
}

.container-content {
  padding-top: 0px;
}

.smlink-header {
  text-align: center;
}

.shift-list1 {
  margin-right: 40px;
  padding-top: 10px;
}

.martin-img {
  margin-bottom: 90px;
}
